<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Import Bootstrap and custom CSS -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha256-eZrrJcwDc/3uDhsdt61sL2oOBY362qM3lon1gyExkL0=" crossorigin="anonymous" />

  <title>Ramaneeya Creations | Home</title>
</head>
<body>
<!-- Create the navigation bar -->
<nav class="navbar navbar-expand-lg">
  <a class="navbar-brand" href="/"><img src="{{ url_for('static', filename='images/logo.png') }}" alt="Ramaneeya Creations logo" height="50"></a>
  <!-- <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button> -->
  <!-- <div class="collapse navbar-collapse" id="navbarNav"> -->
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="/">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/pooja-mandirs">Pooja Mandirs</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/gallery">Gallery</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/upgrades">Upgrades</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/faq">FAQ</a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" href="/contact-us"><div class="active">Contact Us</div></a>
      </li>
    </ul>
  <!-- </div> -->
</nav>

<!-- Contact Us -->
<div class="container mt-5">
    <h1 class="text-center mb-5">Contact Us</h1>
    <p class="text-center mb-5">Let's talk about your requirements. If you are trying to book you will get faster response by calling/WhatsApp on 916-209-0520.</p>
    <div class="row">
      <div class="col-md-4">
        <!-- Contact Info -->
        <div class="side-panel p-3">
          <h3 class="text-center mb-3">Contact Info</h3>
          <p>Address</p>
          <p>Gold River, CA 95670</p>
          <p>Email Us</p>
          <p>ramaneeyacreations@gmail.com</p>
          <p>Call Us</p>
          <p>(916) 209-0520</p>
          <div class="text-center mb-3">
            <a href="#" class="fa"><i class="fa fa-twitter fa-2x mr-1 fa"></i></a>
            <a href="#" class="fa"><i class="fa fa-instagram fa-2x mr-1 fa"></i></a>
            <a href="#" class="fa"><i class="fa fa-facebook fa-2x mr-2 fa"></i></a>
            <a href="#" class="fa"><i class="fa fa-whatsapp fa-2x mr-2 fa"></i></a>
          </div>
        </div>
      </div>
      <div class="col-md-8">

        <!-- Form -->
      <form>
        <div class="form-group">
          <label for="name">Name *</label>
          <input type="text" class="form-control" id="name" required>
        </div>
        <div class="form-group">
          <label for="email">Email *</label>
          <input type="email" class="form-control" id="email" required>
        </div>
        <div class="form-group">
          <label for="subject">Subject *</label>
          <input type="text" class="form-control" id="subject" maxlength="250" required>
        </div>
        <div class="form-group">
          <label for="modelNumber">Model Number</label>
          <input type="text" class="form-control" id="modelNumber" maxlength="150">
        </div>
        <div class="form-group">
          <label for="message">Message</label>
          <textarea class="form-control" id="message" rows="5" maxlength="1000"></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>
  </div>
</div>
</body>
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.16.0/dist/umd/popper.min.js" integrity="sha384-tZOo9R/4W4e6nrhnDUYz6UdS8fNkg6Ikq3n1G6lQM8uI7G2QYwYf7TmTpLsT7ZsC" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
<!-- Import custom JS -->
<script src="{{ url_for('static', filename='js/scripts.js') }}"></script>

</body>
<!-- Footer -->
<footer class="py-3 mt-10">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <h4 font color="#d2ae8c">Contact Info</h4>
        <ul font color="#d2ae8c" class="list-unstyled">
          <li>Gold River, CA 95670</li>
          <li>Email: ramaneeyacreations@gmail.com</li>
          <li>Phone: (916) 209-0520</li>
        </ul>
      </div>
      <div class="col-md-3">
        <h4 font color="#d2ae8c">Follow Us</h4>
        <div class="col-sd-4">
          <a href="#" font color="#d2ae8c"><i class="fa fa-twitter fa-2x"></i></a>
          <a href="#" font color="#d2ae8c"><i class="fa fa-instagram fa-2x"></i></a>
          <a href="#" font color="#d2ae8c"><i class="fa fa-facebook fa-2x"></i></a>
          <a href="#" font color="#d2ae8c"><i class="fa fa-whatsapp fa-2x"></i></a>
        </div>
      </div>
      <div class="col-sd-6">
        <h4 font color="#d2ae8c">Copyright &copy; Ramaneeya Creations 2022</h4>
      </div>
    </div>
  </div>
</footer>

</html>
        